<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="commonfunctions.ExtentReporterNG">
</listener>
</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="testcases.Pendingleave"/>
    </classes>
 
  </test>
 <test thread-count="5" name="Test1">
    <classes>
      <class name="testcases.Admin_role"/>
    </classes>
 
  </test>
   <!-- Test -->
</suite> <!-- Suite -->
